<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
		 bootstrap="tests/bootstrap.php"
		 colors="true"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 convertDeprecationsToExceptions="true"
		 failOnWarning="true"
		 failOnRisky="true">
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/unit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">src/SEOCore</directory>
		</include>
	</coverage>
</phpunit>
