<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 bootstrap="tests/phpunit/bootstrap.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 beStrictAboutTestsThatDoNotTestAnything="false"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
	<filter>
		<whitelist>
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="mihdan-index-now-tests">
			<directory suffix=".php">tests/phpunit</directory>
			<coverage>
				<include>
					<directory suffix=".php">./src</directory>
				</include>
			</coverage>
		</testsuite>
	</testsuites>
</phpunit>
